<section class="home-section" id="home">
    <div class="container">
        <div class="home-wrapper">
            <div class="home-title-wrapper">
                <h1 class="home-title">Open your eyes.<br/>
                <span class="span">Memorize.</span> <br />
                Move fast.</h1>
            </div>
            <p class="home-text">Here's the deal with Find The Path - you've got one job: memorize the route, then nail it when the screen goes black.<br class="desk"/> At
            first, it feels easy. Then the path disappears, the timer starts, and your memory becomes your only guide.<br class="desk" /> How fast you
            are and how well you can concentrate basically determines whether you'll crush it or totally bomb.</p>
            <a class="home-link" href="https://play.google.com/store/apps/details?id=com.kizilharun.findThePath&hl=en&gl=us">
                <img src="/img/home/btn.png" alt="Google play" loading="lazy">
            </a>
            <p class="home-rules">Version: 1.0.33. Updated: Jan 3, 2026. Android: 7.0+. Downloads: 100+. Released: May 11, 2024</p>
        </div>
    </div>
</section>
<section class="about-section" id="about">
    <div class="container">
        <div class="title-container">
            <img src="/img/title/decor-left.png" alt="decor left" loading="lazy">
            <h2>ABOUT THE GAME</h2>
            <img src="/img/title/decor-right.png" alt="decor right" loading="lazy">
        </div>
        <h3>It's actually pretty<br class="mob"/> <span class="span">fun</span>  and really <span class="span">tests</span><br class="mob" />  your memory.</h3>
        <ul class="about-list">
            <li class="about-item">
                <p>Find The Path is actually pretty fun, and it turns out it's good for your brain too.</p>
            </li>
            <li class="about-item">
                <p>Players are shown a clear route,<br class="mob"/>
                which is then concealed.</p>
            </li>
            <li class="about-item">
                <p>You've gotta remember every single step and move fast before you run out of time.</p>
            </li>
            <li class="about-item">
                <p>Each level gets trickier. You'll need to focus and work on remembering what you see.</p>
            </li>
        </ul>
        <p class="big">This is not just a puzzle — it’s a test of awareness and reaction.</p>
    </div>
</section>
<section class="how-section" id="how">
    <div class="container">
        <div class="title-container">
            <img src="/img/title/decor-left.png" alt="decor left" loading="lazy">
            <h2>HOW TO PLAY</h2>
            <img src="/img/title/decor-right.png" alt="decor right" loading="lazy">
        </div>
        <h3>Simple steps. <br class="mob"/>
        Powerful challenge.</h3>
        <ul class="how-list">
            <li class="how-item">
                <p class="how-number">1</p>
                <p class="how-text">Watch the shown path carefully.</p>
            </li>
            <li class="how-item">
                <p class="how-number">2</p>
                <p class="how-text">Memorize the correct sequence.</p>
            </li>
            <li class="how-item">
                <p class="how-number">3</p>
                <p class="how-text">When the screen darkens, recreate the path.</p>
            </li>
            <li class="how-item">
                <p class="how-number">4</p>
                <p class="how-text">Complete it as fast as possible.</p>
            </li>
            <li class="how-item">
                <p class="how-number">5</p>
                <p class="how-text">Get higher scores and better performance.</p>
            </li>
        </ul>
        <p class="how-big-text">One mistake can cost you precious seconds.<br/>
        You really need to plan ahead and remember things fast.</p>
    </div>
</section>
<section class="two-section" id="two">
    <div class="container">
        <div class="title-container">
            <img src="/img/title/decor-left.png" alt="decor left" loading="lazy">
            <h2>TWO GAME MODES</h2>
            <img src="/img/title/decor-right.png" alt="decor right" loading="lazy">
        </div>
        <h3>Choose your path.</h3>
        <ul class="two-list">
            <li class="two-item">
                <p class="two-title-item">Classic Mode</p>
                <p class="two-text-item">In Classic Mode, players are shown a path and must find it within a specified time.<br class="mob"/>
                Each completed level unlocks the next one, allowing steady progression.<br class="mob"/>
                If you exit the game, your progress is saved and you continue where you left off. This mode is all about staying
                consistent and slowly getting better.</p>
                <img src="/img/two/classic.png" alt="classic" loading="lazy">
            </li>
            <li class="two-item">
                <p class="two-title-item">Against the Clock Mode</p>
                <p class="two-text-item">This mode gives you more time but resets from level one every session. The goal is to advance through levels as far as
                possible in one continuous run. Speed is basically the main thing you're fighting against. It’s perfect for players who
                thrive under pressure and enjoy pushing their limits.</p>
                <img src="/img/two/time.png" alt="time" loading="lazy">
            </li>
        </ul>
    </div>
</section>
<section class="competitive-section" id="competitive">
    <div class="container">
        <div class="title-container">
            <img src="/img/title/decor-left.png" alt="decor left" loading="lazy">
            <h2>COMPETITIVE EDGE</h2>
            <img src="/img/title/decor-right.png" alt="decor right" loading="lazy">
        </div>
        <h3>Who’s <span class="span">faster</span>?<br class="mob"/>
        Who’s sharper?</h3>
        <p class="competitive-text">Find The Path encourages friendly competition.<br/>
        You'll find yourself constantly trying to beat your last score and see how you stack up. <br class="desk"/> time you nail a level,
        you'll want to push yourself even further.<br class="desk" /> The more precise and faster you are, the better your standing.<br class="desk" /> It’s about
        memory — but it’s also about leadership.</p>
    </div>
</section>
<section class="for-section" id="for">
    <div class="container for-container">
        <div class="title-container">
            <img src="/img/title/decor-left.png" alt="decor left" loading="lazy">
            <h2>FOR KIDS & FAMILIES</h2>
            <img src="/img/title/decor-right.png" alt="decor right" loading="lazy">
        </div>
        <div class="for-wrapper-container">
        <div class="for-warpper">
        <h3 class="for-title">Fun with a <span class="span">purpose</span>.</h3>
        <p class="for-text">Find The Path is especially valuable for children developing visual memory and concentration skills.
        Kids learn to concentrate and think things through, but they're having too much fun to notice.<br/>
        Parents can see it as both entertainment and mental exercise.</p></div>
        <div class="home-title-wrapper for-title-wrapper">
            <p class="for-text-two">As kids get better,<br/>
            the game naturally gets<br/>
            harder to match their skills.</p>
        </div>
    </div>
    </div>
</section>
<section class="hints-section" id="hints">
    <div class="container">
        <div class="title-container">
            <img src="/img/title/decor-left.png" alt="decor left" loading="lazy">
            <h2>HINTS & JOKERS</h2>
            <img src="/img/title/decor-right.png" alt="decor right" loading="lazy">
        </div>
        <h3>Smart <span class="span">help</span> when <br class="mob"/> you need it.</h3>
        <ul class="hints-list">
            <li class="hints-item">
                <p>Diamonds earned during gameplay can be used to unlock hints and special jokers.</p>
                <img class="hints-img" src="/img/hints/one.png" alt="diamonds" loading="lazy">
            </li>
            <li class="hints-item">
                <p>When you're stuck on a tough level, these can bail you out and let you play your way.</p>
                <img class="hints-img" src="/img/hints/two.png" alt="diamonds" loading="lazy">
            </li>
            <li class="hints-item">
                <p>Whether you need a small reminder or extra support, these features add flexibility without removing challenge.</p>
                <img class="hints-img" src="/img/hints/three.png" alt="diamonds" loading="lazy">
            </li>
        </ul>
        <img class="hints-img-desk" src="/img/hints/diamonds.png" alt="diamonds" loading="lazy">
    </div>
</section>
<section class="why-section" id="why">
    <div class="container">
        <div class="title-container">
            <img src="/img/title/decor-left.png" alt="decor left" loading="lazy">
            <h2>WHY PLAY FIND THE PATH?</h2>
            <img src="/img/title/decor-right.png" alt="decor right" loading="lazy">
        </div>
        <h3>Memory meets <span class="span">momentum</span>.</h3>
        <p class="why-text">What I really like about this game is that it's not complicated at all.<br class="desk"/> No weird rules or confusing mechanics - just
        test your memory, be fast, and stay focused. <br class="desk" />Yet the increasing difficulty keeps you engaged and motivated. It’s ideal
        for quick sessions or longer competitive runs. <br class="desk" />If you enjoy brain-training games, memory challenges, and fast reactions,
        this is your path forward.</p>
    </div>
</section>
<section class="faq" id="faq">
    <div class="container">
        <div class="title-container">
            <img src="/img/title/decor-left.png" alt="decor left" loading="lazy">
            <h2>FAQ</h2>
            <img src="/img/title/decor-right.png" alt="decor right" loading="lazy">
        </div>
        <ul class="faq-acc">
            <li class="faq-acc-el faq-current">
                <h3 class="faq-acc-el-title">
                    <button type="button" class="faq-acc-el-trigger">
What skills does Find The<br class="mob"/> Path improve?
        
                        <span class="faq-acc-arr arr-down">
<img src="/img/faq/open.png" alt="icon" loading="lazy">
                        </span>
                    </button>
                </h3>
        
                <p class="faq-acc-el-descr-frame">The game primarily strengthens visual memory and concentration. Players must recall patterns quickly and act under time
                pressure. It also enhances reaction speed and attention to detail. I swear after playing this for a while, I think my
                attention span actually improved.</p>
            </li>
            <li class="faq-acc-el faq-current">
                <h3 class="faq-acc-el-title">
                    <button type="button" class="faq-acc-el-trigger">
Is the game suitable for<br class="mob" /> children?
            
                        <span class="faq-acc-arr arr-down">
                            <img src="/img/faq/open.png" alt="icon" loading="lazy">
                        </span>
                    </button>
                </h3>
            
                <p class="faq-acc-el-descr-frame">Yes, it is designed for players of all ages. The clear mechanics and progressive difficulty make it accessible to
                children. At the same time, adults can enjoy the increasing complexity. Kids actually get smarter while having a blast -
                win-win!</p>
            </li>
            <li class="faq-acc-el faq-current">
                <h3 class="faq-acc-el-title">
                    <button type="button" class="faq-acc-el-trigger">
What is the difference<br class="mob" /> between Classic Mode and<br class="mob" /> Against the Clock Mode?
            
                        <span class="faq-acc-arr arr-down">
                            <img src="/img/faq/open.png" alt="icon" loading="lazy">
                        </span>
                    </button>
                </h3>
            
                <p class="faq-acc-el-descr-frame">Classic Mode focuses on steady progression and saved levels. Players move forward gradually and continue from where they
                left off. Against the Clock Mode resets every session and emphasizes speed. It challenges players to advance as far as
                possible in one run.</p>
            </li>
            <li class="faq-acc-el faq-current">
                <h3 class="faq-acc-el-title">
                    <button type="button" class="faq-acc-el-trigger">
Are hints necessary to win?
            
                        <span class="faq-acc-arr arr-down">
                            <img src="/img/faq/open.png" alt="icon" loading="lazy">
                        </span>
                    </button>
                </h3>
            
                <p class="faq-acc-el-descr-frame">Hints are optional and serve as support during difficult levels. Skilled players can complete levels without them.
                However, jokers and hints can make challenging puzzles more manageable. They give you options without making the game
                too easy.</p>
            </li>
            <li class="faq-acc-el faq-current">
                <h3 class="faq-acc-el-title">
                    <button type="button" class="faq-acc-el-trigger">
Does the game require<br class="mob" /> constant internet access?
            
                        <span class="faq-acc-arr arr-down">
                            <img src="/img/faq/open.png" alt="icon" loading="lazy">
                        </span>
                    </button>
                </h3>
            
                <p class="faq-acc-el-descr-frame">Please check the official store listing for connectivity details. Gameplay mechanics focus on performance rather than
                online dependency. Always verify device compatibility and requirements before installation.</p>
            </li>
            <li class="faq-acc-el faq-current">
                <h3 class="faq-acc-el-title">
                    <button type="button" class="faq-acc-el-trigger">
Is it a competitive game?
            
                        <span class="faq-acc-arr arr-down">
                            <img src="/img/faq/open.png" alt="icon" loading="lazy">
                        </span>
                    </button>
                </h3>
            
                <p class="faq-acc-el-descr-frame">Yes, the scoring system encourages comparison and improvement. Players can aim to beat their own records or compare with
                others. Speed and accuracy determine success. It adds motivation without creating unnecessary pressure.</p>
            </li>
            <li class="faq-acc-el faq-current">
                <h3 class="faq-acc-el-title">
                    <button type="button" class="faq-acc-el-trigger">
How long does a session last?
            
                        <span class="faq-acc-arr arr-down">
                            <img src="/img/faq/open.png" alt="icon" loading="lazy">
                        </span>
                    </button>
                </h3>
            
                <p class="faq-acc-el-descr-frame">Sessions can be very short, depending on the mode and level difficulty. A quick round can take just a few minutes.
                However, longer runs in Against the Clock Mode can extend playtime. You can play for just a couple minutes or get really
                into it.</p>
            </li>
            <li class="faq-acc-el faq-current">
                <h3 class="faq-acc-el-title">
                    <button type="button" class="faq-acc-el-trigger">
What Android version is required?
            
                        <span class="faq-acc-arr arr-down">
                            <img src="/img/faq/open.png" alt="icon" loading="lazy">
                        </span>
                    </button>
                </h3>
            
                <p class="faq-acc-el-descr-frame">Find The Path requires Android 7.0 and up. This ensures stable performance on modern devices. Keeping your system
                updated may improve responsiveness. Always confirm compatibility before downloading.</p>
            </li>

        </ul>
    </div>
</section>
<section class="contact-section" id="contact">
    <div class="container">
        <div class="title-container">
            <img src="/img/title/decor-left.png" alt="decor left" loading="lazy">
            <h2>CONTACT</h2>
            <img src="/img/title/decor-right.png" alt="decor right" loading="lazy">
        </div>
        <h3>Contact OpenPathway.</h3>
        <p class="contact-text">Have feedback, ideas, or discovered a tricky issue?<br/>
        Send us your thoughts along with your device model and Android version.<br/>
        The more details you give us, the better we can fix things and make the game even better.</p>
        <a class="contact-link" href="mailto:info@openpathway.online">
            <img src="/img/contact/mail.png" alt="mail" loading="lazy">
            <p>info@openpathway.online</p>
        </a>
    </div>
</section>