body{
  background: #0c0d12;
  font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    color: #ceced1;
}
h2{
  font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 10px;
    line-height: 1.5;
    color: #999cae;
}
h3{
  font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 32px;
    line-height: 1.5;
    text-align: center;
    color: #ceced1;
}
.span{
  color: #d48d08;
}
.title-container{
  
}