.home-section{
    background-image: url("/img/home/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
.home-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home-title-wrapper{
   background-image: url("/img/home/headline-mob.png"); 
    background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
width: 370px;
    height: 370px;
padding-top: 110px;
}
.home-title{
    font-family: "Roboto", sans-serif;
        font-weight: 100;
        font-size: 40px;
        line-height: 1.5;
        text-align: center;
        color: #ceced1;
}
.home-text{
    margin-top: 24px;
width: 313px;
    font-weight: 300;
    color: #999cae;
}
.home-link{
    margin-top: 40px;
border: 1px solid #656a80;
    border-radius: 8px;
    width: 240px;
    height: 64px;
box-shadow: 2px 2px 2px 0 rgba(153, 156, 174, 0.3);
background: linear-gradient(180deg, #292b36 0%, #1e2028 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.3s ease-in-out;
}
.home-link:hover,
.home-link:active{
    background: linear-gradient(90deg, #656a80 0%, #292b36 100%);
}
.home-rules{
    margin-top: 40px;
        font-weight: 300;
        font-size: 10px;
        letter-spacing: 0.16em;
        color: #999cae;
}
.desk{
    display: none;
}
@media only screen and (min-width: 1440px) {
 .home-section{
    background-image: url("/img/home/desk.png");
 }
 .home-title-wrapper{
    background-image: url("/img/home/headline-desk.png");
    width: 500px;
        height: 500px;
        padding-top: 150px;
 }
 .home-title{
    font-size: 48px;
 }
 .home-text{
    margin-top: 32px;
    width: 805px;
 }
 .desk{
    display: block;
 }
 .home-rules {
    margin-top: 32px;
 }
}
/* ABOUT THE GAME */
.about-list{
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.about-item{
    border: 1px solid #292b36;
        border-radius: 12px;
        padding: 32px 30px;
        width: 323px;
        height: 106px;
        background: rgba(41, 43, 54, 0.5);
display: flex;
justify-content: center;
align-items: center;        
}
.big{
    margin-top: 48px;
    width: 293px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Roboto", sans-serif;
        font-weight: 200;
        font-size: 20px;
        line-height: 1.5;
        letter-spacing: 0.12em;
        text-align: center;
        color: #999cae;
        opacity: 0.8;
}
@media only screen and (min-width: 1440px) {
    .mob{
        display: none;
    }
.about-list{
    flex-direction: row;
    gap: 32px;
    margin-top: 56px;
}
.about-item{
padding: 32px;
    width: 270px;
    height: 136px;
}
.big{
    margin-top: 64px;
    font-size: 24px;
    width: 100%;
}
}
/* HOW TO PLAY */
.how-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-top: 48px;
}
.how-item{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.how-number{
    border-bottom: 1px solid rgba(212, 141, 8, 0.4);
        padding: 10px;
    font-size: 32px;
    color: #656a80;
    text-align: left;
    width: 320px;
}
.how-text{
        font-size: 16px;
        text-align: right;
}
.how-section{
    background-image: url("/img/how/mob.png");
    background-repeat: no-repeat;
    background-position: bottom 200px center;
    background-size: 100% 212px;
}
.how-big-text{
    margin-top: 240px;
        font-size: 20px;
        line-height: 1.5;
        letter-spacing: 0.08em;
        text-align: center;
        color: #999cae;
        opacity: 0.8;
}
@media only screen and (min-width: 1440px) {
 .how-section{
    background-image: url("/img/how/desk.png");
        background-position: top 463px center;
            background-size: 100% 487px;
 }
 .how-list{
    margin-top: 56px;
    flex-direction: row;
    justify-content: center;
    gap: 32px;
 }
 .how-item{
    gap: 16px;
 }
 .how-number{
    width: 180px;
 }
 .how-text{
    text-align: left;
    width: 180px;
 }
 .how-big-text{
margin-top: 540px;
font-size: 24px;
 }
}
/* TWO GAME MODES */
.two-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}
.two-item{
    border-radius: 16px 16px 0 0;
        padding: 32px;
        width: 343px;
        height: 398px;
        background: linear-gradient(360deg, #0c0d12 0%, #292b36 100%);
        display: flex;
        flex-direction: column;
        align-items: center;
}
.two-title-item{
        font-weight: 300;
        font-size: 20px;
        letter-spacing: 0.08em;
        color: #d48d08;
        margin-bottom: 16px;
}
.two-text-item{
        font-weight: 300;
        color: #999cae;
        margin-bottom: 32px;
}
@media only screen and (min-width: 1440px) {
 .two-list{
    flex-direction: row;
    justify-content: center;
    gap: 64px;
 }
 .two-item{
    width: 393px;
    height: 420px;
 }
 .two-title-item{
    font-size: 24px;
    margin-bottom: 32px;
 }
}
/* COMPETITIVE EDGE */
.competitive-text{
        font-weight: 300;
        color: #999cae;
}
.competitive-section{
    background-image: url("/img/competitive/mob.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100% 394px;
    height: 735px;
}
@media only screen and (min-width: 1440px) {
.competitive-section {
        background-image: url("/img/competitive/desk.png");
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: 100% 802px;
height: 949px;
    }
}
/* FOR KIDS & FAMILIES */
.for-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.for-text{
    font-weight: 300;
    width: 313px;
}
.for-text-two{
        font-weight: 100;
        font-size: 20px;
        color: #999cae;
        width: 233px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
}
@media only screen and (min-width: 1440px) {
 .for-wrapper-container{
    display: flex;
    align-items: center;
    gap: 33px;
 }
 .for-warpper{
    display: flex;
    flex-direction: column;
    align-items: center;
 }
  .for-title{
    text-align: left;
    width: 694px;
  }
  .for-text{
    text-align: left;
    width: 694px;
  }
  .for-container{
    padding-left: 223px;
  }
  .for-title-wrapper{
width: 400px;
    height: 400px;
  }
  .for-text-two{
    text-align: left;
    font-size: 24px;
    width: 279px;
    margin-top: 0;
  }
}